@media screen and (max-width:576px) {
.navbar 
 {

        flex-direction: column;

    }

    .nav-item {
        display: none;
    }

    .hamber-color {
        display: block;
        color: white;
    }
    .navbar {
        flex-direction: row;
    }
    .responsive{
        flex-direction: column;
    }
    .banner-img{
        flex-direction: column;
       
    }
    .picture-hide{
        display: none;
    
    }
    .mobaile-device{
       display:grid;
       grid-template-rows: repeat(2,1fr);
     

       

    }
    
}